* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Farro', sans-serif;
}


/* header */

header {
    margin-bottom: 2px;
}

.header_top {
    text-align: center;
    width: 100%;
}
.header_top img {
    cursor: pointer;
}

.nav {
    height: 50px;
    position: relative;
    margin-top: 10px;
    text-align: center;
}
.nav ul {
    height: 100%;
}
.nav li {
    height: 100%;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    color: rgb(1, 1, 124);
    padding: 0 10px;
}
.nav li.active {
    background-color: #9dc9ec;
}
.nav li a {
    text-decoration: none;
}
.nav li:hover, .nav li:hover a {
    background-color: #9dc9ec;
    color: rgb(97, 97, 97)
}

.search {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
}
.search i {
    font-size: 25px;
}


/* main */

/* products */
main {
    text-align: center;
}

main h1 {
    color: rgb(98, 158, 199);
    text-transform: uppercase;
    margin-top: 25px;
}

.news_main {
    width: 100%;
    height: 100%;
    text-align: center;
}

.products {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.card {
    margin: 2px;
    text-align: center;
    cursor: pointer;
    position: relative;
    width: 33%;
}
.card img {
    height: 100%;
    width: 100%;
}
.layover {
    background-color: rgba(211, 221, 233, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 25px;
}
.layover a {
    text-decoration: none;
}
.layover h3, .layover i {
    font-size: 30px;
    color: rgb(98, 158, 199);
}
.card:hover .layover {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* homepage */
.home {
    position: relative;
}
.home img {
    width: 100%;
}
.home .layover {
    background-color: rgba(1, 1, 124, 0.0);
}
.home .layover i {
    color: white;
    font-size: 50px;
}
.home:hover .layover h1 {
    color: white;
    margin-top: 50px;
    font-size: 50px;
}
.home:hover .layover {
    background-color: rgba(1, 1, 124, 0.7);
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* details */
.details {
    width: 100%;
    display: flex;
}
.details img {
    width: 50%;
}

.info_details {
    padding: 0 25px;
    overflow: auto;
}
.info_details .i_d_product {
    margin: 10px 0;
}

.descrizione li {
    margin: 5px 0;
    text-align: start;
}

/* footer */

strong {
    color: rgb(129, 129, 129);
}

footer {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
footer .info_footer {
    margin: 0 30px;
}
footer .info_footer li {
    cursor: pointer;
    list-style: none;
}
footer .info_footer h3 {
    color: rgb(1, 1, 124);
    text-transform: uppercase;
    margin-bottom: 10px;
}
footer .info_footer .grey {
    color: grey;
}
footer #limited_edition {
    margin: 10px 0;
}
footer .prodotti {
    margin-top: 10px;
}

footer .info_azienda a {
    color: grey;
    text-decoration: underline;
}
footer .info_azienda a:nth-of-type(3) {
    display: block;
}
footer .info_azienda a:last-of-type, footer .info_azienda p:last-of-type {
    display: inline-block;
}

footer .contatti_tel {
    cursor: pointer;
    margin-top: 25px;
    color: rgb(85, 85, 85);
}
